@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');


:root {
    --primary-white: #ffffff
}

.navbar-brand {
    font-family: 'Akronim', cursive;
    font-size: 2rem;
    color: var(--primary-white) !important;
}

