@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');


:root {
    --primary-white: #ffffff
}

.navbar-brand {
    font-family: 'Akronim', cursive;
    font-size: 2rem;
    color: var(--primary-white) !important;
}

.input-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid ;
    border-radius: 10px;
}
.input-layout input{
    width: 80%;
    margin: 5px 0 10px 0;
}